<form
  class="needs-validation"
  autocomplete="off"
  #createVisitorForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Create New Visitor' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group required">
      <label class="form-label" for="firstName">
        {{ "First Name" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="firstName"
        id="firstName"
        required
        minlength="2"
        maxlength="32"
        [(ngModel)]="visitor.firstName"
        #nameModel="ngModel"
        #nameEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="nameModel"
        [controlEl]="nameEl"
      ></abp-validation-summary>
    </div>
    <div class="form-group required">
      <label class="form-label" for="lastName">
        {{ "Last Name" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="lastName"
        id="lastName"
        required
        minlength="2"
        maxlength="32"
        [(ngModel)]="visitor.lastName"
        #displayNameModel="ngModel"
        #displayNameEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="displayNameModel"
        [controlEl]="displayNameEl"
      ></abp-validation-summary>
    </div>
    <div class="form-group">
      <label class="form-label" for="company">
        {{ "Company" | localize }}
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="company"
        id="company"
        minlength="2"
        maxlength="100"
        [(ngModel)]="visitor.company"
      />
    </div>
    <div class="form-group required">
      <label class="form-label" for="emailAddress">
        {{ "Email Address" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="emailAddress"
        id="emailAddress"
        minlength="2"
        maxlength="100"
        [(ngModel)]="visitor.emailAddress"
        #emailModel="ngModel"
        #emailEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="emailModel"
        [controlEl]="emailEl"
      ></abp-validation-summary>
    </div>
    <div class="form-group required">
      <label class="form-label" for="contactNumber">
        {{ "Contact Number" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="contactNumber"
        id="contactNumber"
        required
        minlength="2"
        maxlength="32"
        [(ngModel)]="visitor.contactNumber"
        #displaycontactModel="ngModel"
        #displaycontactEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="displaycontactModel"
        [controlEl]="displaycontactEl"
      ></abp-validation-summary>
    </div>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createVisitorForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
