<form
  class="needs-validation"
  autocomplete="off"
  #createAppointmentForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Create New Appointment' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <!-- <span *ngIf="isVisitorAdd" style="font-weight: bold; font-size: 18px;">Create Visitor</span> -->

    <div style="float: right">
      <button
        *ngIf="!isVisitorAdd"
        class="btn btn-primary"
        (click)="AddVisitorShow()"
      >
        <i class="fa fa-plus-square"></i> Add Visitor
      </button>
      <button
        *ngIf="isVisitorAdd"
        class="btn btn-danger"
        (click)="CancelVisitorShow()"
      >
        Cancel
      </button>
    </div>

    <!--Visitor Form Fields Start-->

    <div *ngIf="isVisitorAdd" class="form-group required mt-5">
      <label class="form-label" for="firstName">
        {{ "First Name" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="firstName"
        id="firstName"
        required
        minlength="2"
        maxlength="32"
        [(ngModel)]="visitor.firstName"
        #firstNameModel="ngModel"
        #firstNameEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="firstNameModel"
        [controlEl]="firstNameEl"
      ></abp-validation-summary>
    </div>
    <div *ngIf="isVisitorAdd" class="form-group required">
      <label class="form-label" for="lastName">
        {{ "Last Name" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="lastName"
        id="lastName"
        required
        minlength="2"
        maxlength="32"
        [(ngModel)]="visitor.lastName"
        #lastNameModel="ngModel"
        #lastNameEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="lastNameModel"
        [controlEl]="lastNameEl"
      ></abp-validation-summary>
    </div>
    <div *ngIf="isVisitorAdd" class="form-group">
      <label class="form-label" for="company">
        {{ "Company" | localize }}
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="company"
        id="company"
        minlength="2"
        maxlength="100"
        [(ngModel)]="visitor.company"
      />
    </div>
    <div *ngIf="isVisitorAdd" class="form-group required">
      <label class="form-label" for="emailAddress">
        {{ "Email Address" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="emailAddress"
        id="emailAddress"
        minlength="2"
        maxlength="100"
        [(ngModel)]="visitor.emailAddress"
        #emailModel="ngModel"
        #emailEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="emailModel"
        [controlEl]="emailEl"
      ></abp-validation-summary>
    </div>
    <div *ngIf="isVisitorAdd" class="form-group required">
      <label class="form-label" for="contactNumber">
        {{ "Contact Number" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="contactNumber"
        id="contactNumber"
        required
        minlength="2"
        maxlength="32"
        [(ngModel)]="visitor.contactNumber"
        #contactNumberModel="ngModel"
        #contactNumberEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="contactNumberModel"
        [controlEl]="contactNumberEl"
      ></abp-validation-summary>
    </div>
    <div *ngIf="isVisitorAdd" class="text-center">
      <button
        [disabled]="
          !visitor.firstName || !visitor.lastName || !visitor.contactNumber
        "
        type="button"
        class="btn btn-success"
        (click)="saveVisitor()"
      >
        Submit
      </button>
    </div>

    <!--Visitor Form Fields End-->

    <div *ngIf="!isVisitorAdd" class="form-group required mt-5">
      <label class="form-label" for="vistorName">
        {{ "Visitor Name" | localize }} <span class="text-danger">*</span>
      </label>
      <ng-select
        [items]="visitors$ | async"
        name="fullNameWithContactNumber"
        bindLabel="fullNameWithContactNumber"
        bindValue="id"
        [hideSelected]="true"
        [trackByFn]="trackByFn"
        [minTermLength]="2"
        [loading]="visitorLoading"
        (change)="OnChangeVisitor(appointment)"
        typeToSearchText="Please enter 2 or more characters"
        [typeahead]="visitorInput$"
        [(ngModel)]="appointment.visitorId"
        #vistorNameModel="ngModel"
        required
        #vistorNameEl
      >
      </ng-select>
      <abp-validation-summary
        class="invalid-feedback"
        [control]="vistorNameModel"
        [controlEl]="vistorNameEl"
      ></abp-validation-summary>
    </div>

    <div *ngIf="!isVisitorAdd" class="form-group required">
      <label class="form-label" for="employeeName">
        {{ "Employee" | localize }} <span class="text-danger">*</span>
      </label>
      <ng-select
        [items]="employee$"
        name="employeeName"
        bindLabel="fullName"
        bindValue="id"
        [searchable]="true"
        [hideSelected]="true"
        typeToSearchText="Please enter 2 or more characters"
        [(ngModel)]="appointment.employeeId"
        #employeeNameModel="ngModel"
        #employeeNameEl
        required
      >
      </ng-select>
      <abp-validation-summary
        class="invalid-feedback"
        [control]="employeeNameModel"
        [controlEl]="employeeNameEl"
      ></abp-validation-summary>
    </div>

    <div *ngIf="!isVisitorAdd" class="form-group">
      <label class="form-label" for="purposeOfVisit">
        {{ "Purpose Of Visit" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        name="purposeOfVisit"
        placeholder=""
        class="form-control form-control-sm"
        [(ngModel)]="appointment.purposeOfVisit"
        #purposeOfVisitModel="ngModel"
        #purposeOfVisitEl
      />

      <abp-validation-summary
        class="invalid-feedback"
        [control]="purposeOfVisitModel"
        [controlEl]="purposeOfVisitEl"
      ></abp-validation-summary>
    </div>

    <div *ngIf="!isVisitorAdd" class="form-group">
      <label class="form-label" for="arrivalInstructions">
        {{ "Arrival Instructions" | localize }}
        <span class="text-danger">*</span>
      </label>
      <textarea
        class="form-control form-control-sm"
        name="arrivalInstructions"
        [(ngModel)]="appointment.arrivalInstructions"
        #arrivalInstructionsModel="ngModel"
        #arrivalInstructionsEl
      >
      </textarea>
      <abp-validation-summary
        class="invalid-feedback"
        [control]="arrivalInstructionsModel"
        [controlEl]="arrivalInstructionsEl"
      ></abp-validation-summary>
    </div>

    <div *ngIf="!isVisitorAdd" class="form-group">
      <label class="form-label" for="destination">
        {{ "Destination" | localize }}
      </label>
      <input
        type="text"
        name="destination"
        placeholder=""
        class="form-control form-control-sm"
        [(ngModel)]="appointment.destination"
        #destinationModel="ngModel"
        #destinationEl
      />

      <abp-validation-summary
        class="invalid-feedback"
        [control]="destinationModel"
        [controlEl]="destinationEl"
      ></abp-validation-summary>
    </div>

    <div *ngIf="!isVisitorAdd" class="form-group required">
      <label class="form-label" for="date">
        {{ "Date" | localize }} <span class="text-danger">*</span>
      </label>
      <input
        type="text"
        required
        name="date"
        placeholder="MM/D/YYYY"
        class="form-control form-control-sm"
        bsDatepicker
        [bsConfig]="{ minDate: this.minDate }"
        placement="top right"
        [(ngModel)]="appointment.date"
        #dateModel="ngModel"
        #dateEl
      />

      <abp-validation-summary
        class="invalid-feedback"
        [control]="dateModel"
        [controlEl]="dateEl"
      ></abp-validation-summary>
    </div>

    <div *ngIf="!isVisitorAdd" class="form-group required">
      <label class="form-label" for="time">
        {{ "Time" | localize }} <span class="text-danger">*</span>
      </label>
      <timepicker
        [(ngModel)]="appointment.time"
        name="time"
        required
        #timeModel="ngModel"
        #timeEl
      ></timepicker>

      <abp-validation-summary
        class="invalid-feedback"
        [control]="timeModel"
        [controlEl]="timeEl"
      ></abp-validation-summary>
    </div>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createAppointmentForm.form.valid || saving || isVisitorAdd"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
