<form
  class="needs-validation"
  autocomplete="off"
  #editStatusForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit Status' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group required">
      <label class="form-label" for="statusName">
        {{ "Status Name" | localize }}
      </label>
      <input
        type="text"
        class="form-control form-control-sm"
        name="siteName"
        id="siteName"
        required
        minlength="2"
        maxlength="32"
        [(ngModel)]="status.status"
        #statusModel="ngModel"
        #statusEl
      />
      <abp-validation-summary
        class="invalid-feedback"
        [control]="statusModel"
        [controlEl]="statusEl"
      ></abp-validation-summary>
    </div>
  </div>

  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editStatusForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
