<div [@routerTransition]>
  <div class="row">
    <div class="col-lg-9">
      <div id="panel-1" class="panel">
        <div class="panel-hdr">
          <h1>
            {{ "Visitors" | localize }} <span class="fw-300"><i></i></span>
          </h1>
        </div>
        <div class="panel-container show">
          <div class="panel-content">
            <div class="frame-wrap">
              <div class="demo">
                <button
                  type="button"
                  class="btn btn-sm btn-info"
                  style="width: 100px"
                  (click)="createVisitor()"
                >
                  <span class="fas fa-plus-square mr-1"></span>
                  {{ "Create" | localize }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="panel-2" class="panel">
        <div class="panel-container show">
          <div class="panel-content">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  class="btn bg-blue"
                  (click)="getDataPage(1)"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="keyword"
                [placeholder]="'SearchWithThreeDot' | localize"
                [(ngModel)]="keyword"
                (keyup.enter)="getDataPage(1)"
              />
            </div>
            <table
              id="dt-basic-example"
              class="table table-bordered table-hover table-striped w-100"
              [busy]="isTableLoading"
            >
              <colgroup>
                <col span="1" style="width: 15%" />
                <col span="1" style="width: 15%" />
                <col span="1" style="width: 20%" />
                <col span="1" style="width: 20%" />
                <col span="1" style="width: 10%" />
                <col span="1" style="width: 20%" />
              </colgroup>
              <thead class="" style="text-align: center">
                <tr>
                  <th>{{ "First Name" | localize }}</th>
                  <th>{{ "Last Name" | localize }}</th>
                  <th>{{ "Email" | localize }}</th>
                  <th>{{ "Company" | localize }}</th>
                  <th>{{ "Is BlackListed" | localize }}</th>
                  <th>{{ "Actions" | localize }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let visitor of visitors
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  "
                >
                  <td>
                    <center>{{ visitor.firstName }}</center>
                  </td>
                  <td>
                    <center>{{ visitor.lastName }}</center>
                  </td>
                  <td>
                    <center>{{ visitor.emailAddress }}</center>
                  </td>
                  <td>
                    <center>{{ visitor.company }}</center>
                  </td>

                  <td>
                    <center>
                      <select
                        [disabled]="
                          !isGranted('Pages.Visitors.BlackListedUpdate')
                        "
                        class="form-control"
                        (change)="onChangeVisitorStatus(visitor)"
                        [(ngModel)]="visitor.isBlackListed"
                      >
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </center>
                  </td>
                  <td>
                    <center>
                      <a
                        href="javascript:void(0);"
                        data-toggle="tooltip"
                        title="Edit"
                        class="btn btn-sm btn-info btn-icon waves-effect waves-themed"
                        style="margin-right: 5px"
                        (click)="editVisitor(visitor)"
                      >
                        <i class="fas fa-pencil"></i
                      ></a>
                      <a
                        href="javascript:void(0);"
                        data-toggle="tooltip"
                        title="Delete"
                        class="btn btn-sm btn-danger btn-icon waves-effect waves-themed"
                        style="margin-right: 5px"
                        (click)="delete(visitor)"
                      >
                        <i class="fas fa-times"></i
                      ></a>
                    </center>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-sm-4 col-12 text-sm-left text-center">
                <button class="btn btn-secondary" (click)="refresh()">
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
              <div class="col-sm-4 col-12 text-center">
                <p class="mb-0 my-2">
                  {{ "TotalRecordsCount" | localize: totalItems }}
                </p>
              </div>
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <abp-pagination-controls
                    id="server"
                    (pageChange)="getDataPage($event)"
                  >
                  </abp-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="fs-lg fw-300 p-2 bg-white border-faded rounded mb-g">
        <h3 class="mb-g">{{ "Visitors" | localize }}</h3>
        <p>
          This option displays the list of users with access rights for this
          application.
        </p>
        <p>
          The privileged user can assign the user access roles, update the
          user's password, edit the details and delete the user from accessing
          this system.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- <section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h1>{{ "Visitors" | localize }}</h1>
      </div>
      <div class="col-6 text-right">
        <a href="javascript:;" class="btn bg-blue" (click)="createVisitor()">
          <i class="fa fa-plus-square"></i>
          {{ "Create" | localize }}
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content px-2">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="input-group">
          <div class="input-group-prepend">
            <button
              type="button"
              class="btn bg-blue"
              (click)="getDataPage(1)"
            >
              <i class="fas fa-search"></i>
            </button>
          </div>
          <input
            type="text"
            class="form-control"
            name="keyword"
            [placeholder]="'SearchWithThreeDot' | localize"
            [(ngModel)]="keyword"
            (keyup.enter)="getDataPage(1)"
          />
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap" [busy]="isTableLoading">
          <thead class="bg-light">
            <tr>
              <th>{{ "First Name" | localize }}</th>
              <th>{{ "Last Name" | localize }}</th>
              <th>{{ "Email" | localize }}</th>

               <th>{{ "Company" | localize }}</th>
              <th>{{ "Is BlackListed" | localize }}</th>

              <th style="width: 200px;">{{ "Actions" | localize }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let visitor of visitors
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      }
              "
            >
              <td>{{ visitor.firstName }}</td>
              <td>{{ visitor.lastName }}</td>
             <td>{{visitor.emailAddress}}</td>

              <td>{{ visitor.company }}</td>
              <td>
                <select [disabled]="!isGranted('Pages.Visitors.BlackListedUpdate')" class="form-control" (change)="onChangeVisitorStatus(visitor)" [(ngModel)]="visitor.isBlackListed">
                  <option value="true">Yes</option>
                  <option value="false">No</option>

                </select>
              </td>

              <td>
                <button
                  type="button"
                  class="btn btn-sm bg-secondary"
                  (click)="editVisitor(visitor)"
                >
                  <i class="fas fa-pencil-alt"></i>
                
                  {{ "Edit" | localize }}
                </button>
                <button
                  type="button"
                  class="btn btn-sm bg-danger mx-2"
                  (click)="delete(visitor)"
                >
                  <i class="fas fa-trash"></i>
                  {{ "Delete" | localize }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-light border-top">
        <div class="row">
          <div class="col-sm-4 col-12 text-sm-left text-center">
            <button class="btn btn-secondary" (click)="refresh()">
              <i class="fas fa-redo-alt"></i>
            </button>
          </div>
          <div class="col-sm-4 col-12 text-center">
            <p class="mb-0 my-2">
              {{ "TotalRecordsCount" | localize: totalItems }}
            </p>
          </div>
          <div class="col-sm-4 col-12">
            <div class="float-sm-right m-auto">
              <abp-pagination-controls
                id="server"
                (pageChange)="getDataPage($event)"
              >
              </abp-pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
